.job-list {
  flex: 2 1 0;
  min-height: 0;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;

  > h2 {
    margin: 0 0.5rem;
  }
}

.job-list .sidebar-title {
  background: var(--color-card-bg);
}

.roles {
  margin: 0 0.5rem;
  gap: 0.5rem;
  flex: 1 1 0;
}
