@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import 'tailwindcss';
@import './variables.css';

@theme {
  --text-base: 1rem;
  --spacing: 0.25rem;

  --font-anta: 'Anta', sans-serif;
  --font-audiowide: 'Audiowide', 'Anta', sans-serif;
  --font-oxanium: 'Oxanium', sans-serif;

  --default-border-width: 1px;

  --color-void: #0e0e12;
  --color-dark-smoke: #2e2e3e;
  --color-dark-cloud: #1a1a22;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-anta);
  font-size: var(--text-base);
  color: var(--color-text);
  background-color: var(--color-void);
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 5px;
  border: 1px solid var(--color-scrollbar-thumb-border);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

::selection {
  background: var(--color-selection);
  color: var(--color-selection-text);
}
