.footer {
  text-align: center;
  padding: 1rem;
  color: var(--color-subtext);
  font-size: var(--font-size-sm);
  margin-top: auto;
  border-top: 2px solid var(--color-border);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
