.sidebar {
  width: 400px;
  background: var(--color-card-bg);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  min-width: 0;
  min-height: 0;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
