.sidebar {
  width: 33vw;
  background: var(--color-card-bg);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  max-height: 100vh;
  height: 100vh;
  border-right: 2px solid var(--color-border);
}
