.header {
  text-align: center;
  padding: 2rem 1rem;
}

.header-title {
  color: var(--color-text);
  font-size: var(--font-size-xl);
  margin-bottom: 0.5rem;
}

.header-subtitle {
  font-size: var(--font-size-md);
  color: var(--color-subtext);
}
