.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar input {
  width: 60%;
  padding: 0.6rem 1rem;
  border: 1.5px solid var(--color-border);
  background-color: transparent;
  color: var(--color-text);
  font-size: var(--font-size-base);
  border-radius: 12px;
  outline: none;
  transition: 0.2s ease;
}

.search-bar input::placeholder {
  color: var(--color-subtext);
}

.search-bar input:focus {
  background-color: var(--color-card-bg);
  border-color: var(--color-hover);
}
